ePI sample1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2021 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="a">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_a">
					<xs:attribute name="href" use="required" type="xs:anyURI"/>
					<xs:attribute name="title" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="div">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element ref="div" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0">
						<xs:element ref="table"/>
						<xs:element ref="ul"/>
					</xs:choice>
				</xs:sequence>
				<xs:element ref="table"/>
				<xs:element ref="p"/>
			</xs:choice>
			<xs:attribute name="style">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="font-style: italic"/>
						<xs:enumeration value="text-decoration:underline"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="img">
		<xs:complexType>
			<xs:attribute name="src" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="#imageResource"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="alt" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="an image"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="li">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="p"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="p" type="xs:string"/>
	<xs:element name="table">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="tbody"/>
				<xs:element ref="tr" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="class">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ecl-table"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tbody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tr" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0">
				<xs:element ref="img"/>
				<xs:element ref="a" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="th">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Heading 1"/>
				<xs:enumeration value="Heading 2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tr">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="th" maxOccurs="unbounded"/>
				<xs:element ref="td" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="class">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="even"/>
						<xs:enumeration value="odd"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ul">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="li" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_a">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Accelerated assessment"/>
			<xs:enumeration value="Orphan designation"/>
			<xs:enumeration value="accelerated assessment"/>
			<xs:enumeration value="orphan medicine"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
