ePI sample.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2021 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://hl7.org/fhir" xmlns="http://hl7.org/fhir" xmlns:n1="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="ePI%20sample1.xsd"/>
	<xs:element name="Binary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="contentType"/>
				<xs:element ref="data"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Bundle">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="id"/>
						<xs:element ref="identifier"/>
						<xs:element ref="type"/>
						<xs:element ref="timestamp"/>
					</xs:sequence>
					<xs:element ref="type"/>
				</xs:choice>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Composition">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="status"/>
						<xs:element ref="type"/>
						<xs:element ref="subject"/>
						<xs:element ref="date"/>
						<xs:element ref="author"/>
						<xs:element ref="title"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="contained"/>
						<xs:element ref="extension"/>
						<xs:element ref="status"/>
						<xs:element ref="type"/>
						<xs:element ref="subject"/>
						<xs:element ref="date"/>
						<xs:element ref="author"/>
						<xs:element ref="title"/>
						<xs:element ref="relatesTo"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="section" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="status"/>
				<xs:element ref="mode"/>
				<xs:element ref="entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="identifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="code">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coding" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="value">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="00000021212"/>
						<xs:enumeration value="00000021213"/>
						<xs:enumeration value="0000002223333"/>
						<xs:enumeration value="00000031313"/>
						<xs:enumeration value="00000044444"/>
						<xs:enumeration value="0000005555"/>
						<xs:enumeration value="100000155532"/>
						<xs:enumeration value="100000155537"/>
						<xs:enumeration value="appends"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="coding">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="system"/>
				<xs:element ref="code"/>
				<xs:element ref="display"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contained">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Binary"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="contentType">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="image/png"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:attribute name="value" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="date">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="2020-02-01"/>
						<xs:enumeration value="2021-02-01"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="display">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Authorisaton Section"/>
						<xs:enumeration value="Composition"/>
						<xs:enumeration value="Form"/>
						<xs:enumeration value="Kalydeco 150 mg film-coated tablets"/>
						<xs:enumeration value="Kalydeco 75 mg film-coated tablets"/>
						<xs:enumeration value="Name Section"/>
						<xs:enumeration value="Other Product Information"/>
						<xs:enumeration value="Posology"/>
						<xs:enumeration value="Summary of Product Characteristics"/>
						<xs:enumeration value="Therapeutic Indications"/>
						<xs:enumeration value="clinical-particulars"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="fullUrl"/>
					<xs:element ref="resource"/>
				</xs:sequence>
				<xs:element ref="item"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="extension">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="valueReference"/>
			</xs:sequence>
			<xs:attribute name="url" use="required" type="xs:anyURI"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fullUrl">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="urn:uuid:0c5bcdf8-f236-415a-96ca-1355942b0868"/>
						<xs:enumeration value="urn:uuid:1195d0c6-2db9-4017-8ae3-c8a90137e83d"/>
						<xs:enumeration value="urn:uuid:1b575a0b-3bc8-499f-9852-2da9f8e5a908"/>
						<xs:enumeration value="urn:uuid:31ba7a75-e9a3-4751-b2a9-2547459acff7"/>
						<xs:enumeration value="urn:uuid:812a430c-0eda-4615-a30b-a760edaa3597"/>
						<xs:enumeration value="urn:uuid:e229e00c-5eae-4905-a644-98aae00aa26b"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="id">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="709f4405-9739-43d8-b888-d48702930f96"/>
						<xs:enumeration value="SmPCProductsKalydeco1"/>
						<xs:enumeration value="SmPCProductsKalydeco2"/>
						<xs:enumeration value="aa7e0516-0d8c-4c24-8642-ce6f2e7dbfd3"/>
						<xs:enumeration value="imageResource"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="identifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="system"/>
				<xs:element ref="value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reference"/>
				<xs:element ref="display"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mode">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="working"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="#imageResource"/>
						<xs:enumeration value="List/SmPCProductsKalydeco1"/>
						<xs:enumeration value="List/SmPCProductsKalydeco2"/>
						<xs:enumeration value="MedicinalProductDefinition/Kalydeco150"/>
						<xs:enumeration value="MedicinalProductDefinition/Kalydeco75"/>
						<xs:enumeration value="urn:uuid:1195d0c6-2db9-4017-8ae3-c8a90137e83d"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="relatesTo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="targetReference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resource">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Composition"/>
				<xs:element ref="Bundle"/>
				<xs:element ref="List"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="code"/>
				<xs:choice>
					<xs:element ref="section" maxOccurs="unbounded"/>
					<xs:element ref="text"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="status">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="additional"/>
						<xs:enumeration value="current"/>
						<xs:enumeration value="final"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="system">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="http://ema.europa.eu/fhir/identifier/documentid"/>
						<xs:enumeration value="http://spor.ema.europa.eu/v1/example-sections"/>
						<xs:enumeration value="http://spor.ema.europa.eu/v1/lists/100000155531"/>
						<xs:enumeration value="http://spor.ema.europa.eu/v1/locations"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="targetReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="text">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="status"/>
				<xs:element ref="n1:div"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="timestamp">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:dateTime">
						<xs:enumeration value="2020-02-01T10:10:10Z"/>
						<xs:enumeration value="2021-02-01T10:10:10Z"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1. NAME OF THE MEDICINAL PRODUCT"/>
						<xs:enumeration value="2. QUALITATIVE AND QUANTITATIVE COMPOSITION"/>
						<xs:enumeration value="3. PHARMACEUTICAL FORM"/>
						<xs:enumeration value="4. CLINICAL PARTICULARS"/>
						<xs:enumeration value="4.1 Therapeutic indications"/>
						<xs:enumeration value="4.2 Posology and method of administration"/>
						<xs:enumeration value="ANNEX 1 - SUMMARY OF PRODUCT CHARACTERISTICS"/>
						<xs:enumeration value="Authorisation details"/>
						<xs:enumeration value="Product Details"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="coding" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="value">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="collection"/>
						<xs:enumeration value="document"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="KAL-Auth-999"/>
						<xs:enumeration value="KAL999"/>
						<xs:enumeration value="LOC-10001868"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="valueReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="reference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
